#settings-icon {
    color:blue;
    padding-left: 12px;
    font-size: 36px;
}

a {
    text-decoration: none;

}

.input-box {
    background-color: rgb(61, 61, 61);
    color: white;
    border-radius: 35px;
    border: 0px;
    height: 35px;
    width: 300px;
    padding-left: 16px;
    margin-left: 16px;

}

body {
    background-color: black;
    color: white;
    margin-left: 16px;
}

.wd-tabs li {
    display: inline;
    padding:16px;
}

.wd-tabs {
    padding-left: 0px;
    color: rgb(110, 118, 125)

}

.wd-list li {
    position: relative;
    padding:16px;
    padding-right:0px;
    padding-bottom:32px;
    margin: 0px;
    border: .5px white solid;
    border-bottom: 0px;
    list-style: none;

}

.wd-list {
    position: relative;
    padding:0px;
    padding-top:16px;
    color: rgb(110, 118, 125);
    border-bottom: .5px white solid;
    max-width: 600px;

}

.title {
    color: white;
    font-size: 16px;


}

.wd-link {
    padding-left: 0px;
    color: rgb(110, 118, 125);
    font-size:  15px

}

.wd-selected {
    color: rgb(29,161,242);
    border-bottom: 3px rgb(29,161,242) solid;
    padding-bottom: 20px;
    display: inline;
}

.wd-mini-profile {
    height: 16px;
    width: 16px;
    border-radius: 16px;

}

img{
    object-fit: cover;
}

.wd-suggested {
    position: absolute;
    /* width: 60%; */
    border-radius: 36px;
    float: left;

}

.wd-explore-box {
    position: absolute;
    /* width: 40%; */
    border-radius: 36px;
    float: right;

}

.wd-explore-img {
    position: absolute;
    top: 5px;
    right: 10px;
    height: 100px;
    width: 100px;
    border-radius: 16px;
    float: right;

}